/* Section d'en-tête avec les infos du photographe */
body.modal-open {
    overflow: hidden;
}

.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #FAFAFA;
    border-radius: 6px;
    height: 300px;
    margin: 0 100px;
}

.photograph-header_text {
    margin-left: 5%;
}

.photograph-header_text h1 {
    color: #D3573C;
    font-size: 60px;
    font-weight: 100;

    margin: 0;
}

.photograph-header_text h2 {
    color: #901C1C;
    font-size: 23px;
    font-weight: 100;

    margin: 0;
}

.photograph-header_text p {
    color: black;
    font-size: 17px;
    font-weight: 100;

    margin: 18px 0;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #901C1C;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 1px #929292;
    cursor: pointer;
    transition: background-color 250ms;

    padding: 11px;
    width: 170px;
    height: 70px;
}
.contact_button:hover {
    background: #D3573C;
}

.photograph-header_img {
    margin-right: 5%;
}

.photograph-header_img img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 15px 1px #929292;
}


/* Section affichant tous les médias du photographe */
.medias_section {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 100px;
    margin-bottom: 100px;
}

.medias_filter {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.medias_filter > h2 {
    font-size: 20px;
    font-weight: bold;

    margin: 0;
    margin-right: 20px;
}

.menu_container {
    position: relative;
}

.sorting_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 250ms;
    box-shadow: 0px 0px 6px 1px #929292;

    padding: 0px 20px;
    width: 170px;
    height: 70px;
}
.sorting_menu:hover {
    background-color: #D3573C;
}

.sorting_menu i {
    margin-left: 15px;
    font-size: 28px;
}

.sorting_list {
    position: absolute;
    top: -34px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #901C1C;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 1px #222222;

    overflow: hidden;
    z-index: 1;

    width: 170px;
    max-height: 210px;
}

.sorting_list hr {
    margin: 0;
    width: 88%;
    height: 1px;
    border: none;
    border-bottom: 1px solid white;
}

.sorting-element {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #901C1C;
    border: none;

    cursor: pointer;
    transition: background-color 250ms;

    padding: 0px 20px;
    width: 100%;
    height: 70px;
}
.sorting-element:hover {
    background-color: #D3573C;
}

.sorting-element i {
    margin-left: 15px;
    font-size: 28px;
}


.medias_container {
    width: 100%;
    max-width: 1500px;
    
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 400px;
    column-gap: 5%;
    row-gap: 30px;

    margin-top: 40px;
}

.media-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.media-card img, .media-card video {
    object-fit: cover;
    height: 350px;
    width: auto;

    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 1px #929292;
    transition: box-shadow 250ms, transform 250ms;
}
.media-card img:hover, .media-card video:hover {
    box-shadow: 0px 0px 20px 1px #929292;
    transform: scale(1.02);
}

.media-card_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media-card_text {
    height: 50px;
}

.media-card_text h3 {
    color: #901C1C;
    font-size: 23px;
    font-weight: 100;
    
    max-width: 275px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    
    margin: 0;
}

.media-likes {
    display: flex;
    align-items: center;
}

.media-card_text h4, .media-card_text i {
    color: #901C1C;
    font-size: 23px;
    font-weight: 800;
    
    margin: 0;
}

.media-card_text i {
    font-weight: 100;

    cursor: pointer;

    margin-left: 8px;
    margin-right: 2px;
}
.media-card_text i:hover {
    animation: shaking 250ms;
}
.media-card_text .liked {
    font-weight: 600;
    animation: rotate 750ms;
}
@keyframes shaking {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Widget des likes et du prix */
.priceandlike-widget {
    position: fixed;
    bottom: 0;
    right: 50px;

    display: flex;
    align-items: center;

    background-color: #D3573C;
    border-radius: 6px 6px 0 0;

    width: 375px;
    height: 65px;
}

.priceandlike-widget h4 {
    font-size: 25px;
    margin: 0;
    margin-left: 40px;
}

.priceandlike-widget i {
    font-size: 25px;
    margin-left: 5px;
    margin-right: 20px;
}
.priceandlike-widget i:hover {
    animation: shaking 250ms;
}

.priceandlike-widget h4:last-child {
    margin-right: 40px;
}


/* Lightbox Médias */
.lightbox {
    position: fixed;
    top: 0;

    background-color: white;

    width: 100vw;
    height: 100vh;
    margin: 0;

    animation: disparition 250ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;
}

.lightbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    height: 90%;
    padding: 50px;
}

.lightbox i {
    color: #901C1C;
    font-size: 44px;

    cursor: pointer;
}

.lightbox .leftBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 10%;

    height: 80%;
}

.lightbox img, .lightbox video {
    object-fit: cover;
    flex: 2 80%;
    height: 80%;

    border-radius: 6px;
    box-shadow: 0px 0px 10px 1px #929292;
}

.lightbox .rightBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    flex: 1 10%;

    height: 80%;
}

.lightbox .prevBtn, .lightbox .nextBtn {
    margin-bottom: 35vh;
}

.lightbox-container h3 {
    color: #901C1C;
    font-size: 23px;
    font-weight: 100;

    flex: 4 100%;
    margin-left: 10%;
}


/* Fenêtre modale de contact */
#contact_modal {
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;

    background-color: white;

    animation: disparition 250ms;
    animation-play-state: paused;
    animation-fill-mode: forwards;

    width: 100vw;
    height: 100vh;
    margin: 0;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border-radius: 10px;
    border: 2px solid #DB8876;
    background-color: #DB8876;

    overflow: auto;
    width: 50%;
    min-width: 350px;
    max-width: 650px;
    height: 80%;
    
    padding: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.modal::-webkit-scrollbar {
    background: none;
    width: 10px;
}
.modal::-webkit-scrollbar-thumb {
    background-color: #929292;
    border-radius: 15px;
}

.modal header {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.modal header img {
    cursor: pointer;
    padding-bottom: 95px;
    padding-right: 15px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 16px;
}

form input, #message {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

#message {
    height: 138px;
    padding-top: 8px;
}

.submit_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #901C1C;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 250ms;

    padding: 11px;
    margin-top: 10px;
    width: 170px;
    height: 70px;
}
.submit_button:hover {
    background: #D3573C;
}

@keyframes disparition {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

