@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 60px;
    margin-bottom: 100px;
}

.card_container a {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.card_container a h2 {
    color: #D3573C;
    font-size: 36px;

    margin: 0;
}

.card_container a img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 0px 0px 15px 1px #929292;

    margin-bottom: 20px;
}

.card_container .text_container {
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_container .text_container h3 {
    color: #901C1C;
    font-size: 16px;

    margin: 0;
}

.card_container .text_container h4 {
    color: black;
    font-size: 12px;

    margin: 0;
}

.card_container .text_container p {
    color: #727272;
    font-size: 12px;

    margin: 0;
}

